.contacts {
  margin: 20px 0;
}

.contacts__entry {
  margin: 0;
}

.contacts__entry__value {
  font-weight: 600;
}

.contacts__entry__label {
  display: inline-block;
  min-width: 200px;
}

.contacts__entry__value a {
  font: inherit;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}

.contacts__entry__value a:hover {
  text-decoration: underline;
}

.about__image {
  float: left;
  width: 150px;
  height: 213px;
  margin: 0 40px 0 0;
  background: url('../images/about_bw.jpg') no-repeat;
  background-size: cover;
}

.about__image:hover {
  background: url('../images/about_color.jpg') no-repeat;
}

.content-p-order {
  margin: 0;
}

.order-subheader {
  margin-bottom: 5px;
}
