.header {
  text-align: center;
  margin-bottom: 40px;
  padding: 40px 0 0 0;
}

.header-title {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #666;
}



.header-logo {
  margin-bottom: 20px;
}

.header-logo__image {
  height: 50px;
}

.header-logo a {
  text-decoration: none;
  font: inherit;
}
