.pricing {
  list-style-type: none;
  padding: 0;
}


/* our photos */

.pricing-item {
  position: relative;
  width: 32.66%;
  height: auto;
  display: inline-block;
  margin: 0 1% 1% 0;
  color: white;
}

.pricing-item:nth-child(3n) {
  margin-right: 0;
}

@media all and (max-width: 800px) {
  .pricing-item {
    position: relative;
    width: 49.5%;
    height: auto;
    display: inline-block;
    margin: 0 1% 1% 0;
    color: white;
  }

  .pricing-item:nth-child(3n) {
    margin-right: 1%;
  }

  .pricing-item:nth-child(2n) {
    margin-right: 0;
  }
}

.pricing-item__img {
  /*-ms-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;*/
  /*width: 100%;*/
  /*max-width: 100%;*/
  /*height: 100%;*/
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  vertical-align: bottom;
}

.pricing-item__img.placeholder {
  position: static;
  visibility: hidden;
  -ms-transform: none;
  -moz-transform: none;
  -webkit-transform: none;
  transform: none;
}

.pricing-item__img.color {
  opacity: 0;
  transition: opacity 0.5s;
}

.pricing-item:hover .pricing-item__img.color {
  display: inline;
  opacity: 1;
  /*width: auto;
  max-width: none;*/
}

.pricing-item:hover .pricing-item__content-wrapper {
  background: rgba(0, 0, 0, 0.65);
}

.pricing-item__content-wrapper {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* May want to do this if there is risk the container may be narrower than the element inside */
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.55);
  transition: background-color 0.5s;
}


/* The ghost, nudged to maintain perfect centering */

.pricing-item__content-wrapper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  /*margin-right: -0.25em; */
}


/* The element to be centered, can also be of any width and height */

.pricing-item__content {
  display: inline-block;
  vertical-align: middle;
  /*width: 300px;*/
  white-space: normal;
  padding: 20px;

  text-shadow: 0 0 2px black;
}

.pricing-item__content a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.pricing-item__content a:hover {
  text-decoration: underline;
}

.pricing-item__price {
  margin: 0;
  margin-bottom: -1rem;
  height: 0;
  opacity: 0;
  font-size: 0.85em;
  font-weight: bold;
}

.pricing-item__title {
  /*position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);*/
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-weight: normal;
}

.pricing-item__content__button {
  border-radius: 2px;
  color: white;
  background: #29a0d9;
  border: solid 1px #1e7ba7;
  /*padding: 7px 14px;*/
  text-decoration: none;
  opacity: 0;
  /*display: none;*/
  height: 0;
  display: inline-block;
  overflow: hidden;
  transition: opacity 0.5s, height 0s 0.5s;
}

.pricing-item__content__button:hover {
  background: #2187b8;
}

.pricing-item:hover .pricing-item__content__button {
  opacity: 1;
  padding: 7px 14px;
  height: auto;
  margin-top: 10px;
  transition: opacity 0.5s, height 0;
}

.pricing-item:hover .pricing-item__price {
  opacity: 1;
  height: auto;
  margin: 5px 0 0;
}


.r5m-dimmer .r5mFeedback__submit-button {
  background: #29a0d9;
  border: solid 1px #1e7ba7;
  color: #f8f8f8;
  border-radius: 2px;
}

.r5m-dimmer .r5mFeedback__submit-button:hover {
  background: #2187b8;
  color: #f8f8f8;
}


.pricing-item__content.online::before {
  position: absolute;
  right: 5px;
  bottom: 5px;
  height: 30px;
  width: 30px;
  content: " ";
  display: block;
  background: url('../../images/pricing/icon_online.png') no-repeat;
  background-size: 30px auto;
  background-position: bottom right;
}
