.flexible-container {
  min-width: 280px;
}


.r5m-dimmer {
  text-align: center;
}

.r5m-dimmer .r5mFeedback {
  width: 280px;
}


.r5m-dimmer .r5mFeedback__submit-button {
  width: 280px;
}

.r5m-dimmer__container::before {
  margin: 0;
}
