.new-offer,
.new-offer-sale {
  padding: 0;
}

.new-offer__heading,
.new-offer__heading-big {
  font-size: 1.2rem;
}

.new-offer-sale ul,
.new-offer__content.notice {
  text-align: left;
}


.about__image {
  float: none;
  margin: 0 auto;
  text-align: center;
  background: url('../../images/about_color.jpg') no-repeat;
}

.contacts__entry__label {
  width: 100%;
}

.contacts__entry__value {
  display: inline-block;
  margin-bottom: 10px;
}
