.new-offer {
  padding: 0;
}

.about__image {
  float: none;
  margin: 0 auto;
  text-align: center;
  background: url('../../images/about_color.jpg') no-repeat;
}

.contacts__entry__label {
  width: 100%;
}

.contacts__entry__value {
  display: inline-block;
  margin-bottom: 10px;
}
