.offer .offer__feedback-wrapper {
  max-width: 100%;
  width: 100%;
  float: none;
  padding: 0;
}

.offer-bg {
  float: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px auto;
}

.new-offer-sale .new-offer-container {
  padding: 20px 0;
}

.new-offer-sale .offer__subscribe-wrapper {
  margin-top: 10px;
}

.about__text {
  margin-left: 0;
}
