<footer class="flexible-container visible">
  <div>
    &copy; Юлиана Захарченко, 2016.
    
    <!--<a target="_blank" href="https://www.iubenda.com/privacy-policy/7813884">Политика конфиденциальности</a>.-->
    <br/>Сделано в
    <a href="https://r5m.me">R5M group</a>
  </div>

</footer>
