<footer class="flexible-container visible">
  <div>
    &copy; Юлиана Захарченко, 2016-2017.
    
    <!--<a target="_blank" href="https://www.iubenda.com/privacy-policy/7813884">Политика конфиденциальности</a>.-->
    <br/><a href="mailto:mikhael@milikhin.name">Разработка сайта</a>
  </div>

</footer>
