<header class="header clearfix">
  <div class="flexible-container ">
    <div class="header-logo">
      <a href="./">
        <img class="header-logo__image" src="images/logo.png">
        <h1 class="header-title">
          <%- title %>
        </h1>
      </a>
    </div>
    <%- include('./_menu.ejs') %>
  </div>
</header>
</div>
