<nav>
  <ul>
    <li>
      <a href="./">Главная</a>
    </li>
    <li>
      <a href="about.html">Обо мне</a>
    </li>
    <li>
      <a href="pricing.html">Услуги и цены</a>
    </li>
    <li>
      <a href="contacts.html">Контакты</a>
    </li>
  </ul>
</nav>
