<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
    <div class="single-section-content-wrapper">
        <div class="single-section-content">
            <h2 class="section-header">
                Обо мне
            </h2>
            <div style="margin-top: 20px;" class="clearfix">
                <div class="about__image">
                    <img class="about__image__img placeholder" src="images/about_bw.jpg"/>
                    <img class="about__image__img black" src="images/about_bw.jpg"/>
                    <img class="about__image__img color" src="images/about_color.jpg"/>
                </div>
                <div style="margin-left: 160px">
                    <p class="">
                        Ваш персональный стилист, имидж-консультант и шоппер -
                        <b>Юлиана Захарченко</b>
                    </p>
                    Образование:
                </p>
                <ul>
                    <li>
                        Школа моды
                        <b>Александра Васильева</b>, 2016
                    <li>
                        <b>Итальянская школа моды и стиля</b>
                        - "Fashion strat-up", 2016
                    </li>
                    <li>
                        <b>Итальянская школа моды и стиля</b>
                        - "Стилист, персональный шоппер. Имидж-консультант", 2016
                    </li>
                    <li>
                        <b>Итальянская школа моды и стиля</b>
                        - "Секреты мира моды", 2015
                    </li>
                    <li>
                        Имидж-курсы "Полный Re-look", 2014, г. Томск
                    </li>
                </ul>

            </div>
        </div>
        <p class="">
            <h3 class="section-subheader order-subheader">
                Запись на консультацию
            </h3>
            <p class="content-p-order">
                <a href="#" class="r5m-action" data-type="question" data-action="r5mDimmer-show">
                    Оставьте заявку
                </a>
                для проведения консультации или свяжитесь со мной любым
                <a href="contacts.html">другим способом</a>
                на ваш выбор.
            </p>

        </div>
    </section>

    <%# include('./_offer.ejs'); %>
    <%- include('./_footer.ejs'); %>
    <%- include('./_forms.ejs'); %>

    <img src="images/about_color.jpg" alt="Юлия Захарченко, стилист, имидж-консультант" style="display: none"/>
