<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Обо мне
      </h2>
      <p class="content-p">
        Ну я красотулька!
      </p>

  </div>
</section>

<%# include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
