<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Обо мне
      </h2>
      <p class="content-p">
        Меня зовут Юлия Захарченко. Я профессиональный стилист, имидж-консультант и персональный шоппер.
      </p>
      <p class="content-p">
        Образование:
      </p>
      <ul>
        <li>
          Диплом по курсу «Стилист, персональный шоппер. Имидж-консультант»,
          Итальянская школа моды и стиля, 2016
        </li>
        <li>
          Диплом по курсу «Секреты мира моды», Итальянская школа моды и стиля, 2015
        </li>
        <li>
          Имидж-курсы «Полный Relook», Томск, 2014
        </li>
      </ul>
      <h3 class="section-subheader">
        Запись на консультацию
      </h3>
      <p class="content-p">
        <a href="#" class="r5m-action" data-type="question" data-action="r5mDimmer-show">
          Оставьте заявку
        </a>
        для проведения консультации или свяжитесь со мной любым <a href="contacts.html">другим способом</a> на ваш выбор.
      </p>
    </div>
  </section>

  <%# include('./_offer.ejs'); %>
  <%- include('./_footer.ejs'); %>
  <%- include('./_forms.ejs'); %>
