<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Контакты
      </h2>
      <div class="contacts">
        <p class="contacts__entry">
          <span class="contacts__entry__label">Телефон:</span>
          <span class="contacts__entry__value"><a href="tel:+79991778901">+7 999 177 89 01</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Электронная почта:</span>
          <span class="contacts__entry__value"><a href="mailto:zakharchenko.julia@gmail.com">zakharchenko.julia@gmail.com</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Instagram:</span>
          <span class="contacts__entry__value"><a href="https://www.instagram.com/julianazakharchenko/">julianazakharchenko</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">VK:</span>
          <span class="contacts__entry__value"><a href="https://vk.com/juliana.zakharchenko">juliana.zakharchenko</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Facebook:</span>
          <span class="contacts__entry__value"><a href="https://www.facebook.com/julianka.zakharchenko">julianka.zakharchenko</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Самопознание.ру: </span>
          <span class="contacts__entry__value"><a href="http://samopoznanie.ru/tomsk/offers/individualnaya_konsultaciya_po_stilju_ot_juliany_zaharchenko/" target="_blank">Юлиана Захарченко</a></span>
        </p>
      </div>

      </p>
    </div>
    <%- include('./_offer.ejs'); %>
  </div>
</section>

<%- include('./_footer.ejs'); %>

<%- include('./_forms.ejs'); %>
