<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Контакты
      </h2>
      <div class="contacts">
        <p class="contacts__entry">
          <span class="contacts__entry__label">Телефон:</span>
          <span class="contacts__entry__value"><a href="tel:+79521541400">+7 952 154 14 00</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Электронная почта:</span>
          <span class="contacts__entry__value"><a href="mailto:zakharchenko.julia@gmail.com">zakharchenko.julia@gmail.com</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">VK:</span>
          <span class="contacts__entry__value"><a href="https://vk.com/juliana.zakharchenko">juliana.zakharchenko</a></span>
        </p>
        <p class="contacts__entry">
          <span class="contacts__entry__label">Facebook:</span>
          <span class="contacts__entry__value"><a href="https://www.facebook.com/julianka.zakharchenko">julianka.zakharchenko</a></span>
        </p>
      </div>
    </div>
    <%- include('./_offer.ejs'); %>
  </div>
</section>

<%- include('./_footer.ejs'); %>

<%- include('./_forms.ejs'); %>
