<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Услуги и цены
      </h2>
      <ol class="pricing">
        <li>
          <span class="pricing-ending">бесплатно</span>
          <span class="pricing-begin">Предварительная консультация (40 мин)</span>
        </li>
        <li>
          <span class="pricing-ending">2490р.</span>
          <span class="pricing-begin">Консультация по сочетанию цветов в одежде, обуви и аксессуарах (до&nbsp;2ч.)</span>
        </li>
        <li>
          <span class="pricing-ending">2490р.</span>
          <span class="pricing-begin">Визуальная коррекция фигуры. Подбор лучших фасонов одежды и аксессуаров (до&nbsp;2ч.)</span>
        </li>
        <li>
          <span class="pricing-ending">1990р.</span>
          <span class="pricing-begin">Консультация по подбору стиля. Правила сочетания стилей, одежды и аксессуаров (до&nbsp;2ч.)</span>
        </li>
        <li>
          <span class="pricing-ending">4590р.</span>
          <span class="pricing-begin">Консультация по подбору стиля (до&nbsp;2ч).
            Правила сочетания стилей, одежды и комплексная имидж-консультация. Персональный style book (до&nbsp;2ч.)</span>
        </li>
        <li>
          <span class="pricing-ending">1290р./час</span>
          <span class="pricing-begin">Шоппинг-сопровождение в Томске</span>
        </li>
        <li>
          <span class="pricing-ending">990р./час</span>
          <span class="pricing-begin">Анализ гардероба</span>
        </li>
        <li>
          <span class="pricing-ending">990р./час</span>
          <span class="pricing-begin">Индивидуальная консультация</span>
        </li>
        <li>
          <span class="pricing-ending">790р./час</span>
          <span class="pricing-begin">Онлайн консультация по сочетанию цветов в одежде, обуви и аксессуарах</span>
        </li>

        <li>
          <span class="pricing-ending">790р./час</span>
          <span class="pricing-begin">Онлайн консультация по визуальной коррекции фигуры</span>
        </li>

        <li>
          <span class="pricing-ending">от 999р.</span>
          <span class="pricing-begin">Подарочный сертификат</span>
        </li>
      </ol>

    </div>
  </div>
</section>

<%# include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>

<%- include('./_forms.ejs'); %>
