<%- include('./_header.ejs'); %>

<section id='index' class="single-section flexible-container">
  <div class="single-section-content-wrapper">
    <div class="single-section-content">
      <h2 class="section-header">
        Услуги и цены
      </h2>

      <h3>
        Бесплатная предварительная консультация
      </h3>
      <ul class="pricing">
        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Предварительная консультация</h3>
              <p class="pricing-item__price">
                40мин, бесплатно
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Предварительная консультация (40 мин)" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>
      </ul>

      <h3>
        Онлайн-консультации
      </h3>
      <ul class="pricing">
        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Cочетание цветов в одежде, обуви и аксессуарах</h3>
              <p class="pricing-item__price">
                1.5часа, 1150р.
              </p>

              <a href="#" class="r5m-action pricing-item__content__button" data-text="Онлайн: Cочетание цветов в одежде, обуви и аксессуарах" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>
        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Визуальная коррекция фигуры</h3>
              <p class="pricing-item__price">
                1.5часа, 1150р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Онлайн: Визуальная коррекция фигуры" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <%# %>
      </ul>
      <h3>
        Личные консультации (г. Томск)
      </h3>
      <ul class="pricing">
        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Индивидуальная консультация</h3>
              <p class="pricing-item__price">
                1.5часа, 1450р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Индивидуальная консультация" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Подбор и сочетание стилей</h3>
              <p class="pricing-item__price">
                2часа, 1950р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Подбор и сочетание стилей" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>


        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Сочетание цветов в одежде, обуви и аксессуарах</h3>
              <p class="pricing-item__price">
                2часа, 2450р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Сочетание цветов в одежде, обуви и аксессуарах" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Визуальная коррекция фигуры</h3>
              <p class="pricing-item__price">
                2часа, 2450р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Визуальная коррекция фигуры" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Комплексная имидж-консультация</h3>
              <p class="pricing-item__price">
                4550р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Комплексная имидж-консультация" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <%# %>

      </ul>
      <h3>
        Работа с гардеробом (г. Томск)
      </h3>
      <ul class="pricing">
        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Шоппинг-сопровождение (4&nbsp;часа)</h3>
              <p class="pricing-item__price">
                4часа, 4950р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Шоппинг-сопровождение (4&nbsp;часа)" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Шоппинг-сопровождение (8&nbsp;часов)</h3>
              <p class="pricing-item__price">
                8часов, 9950р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Шоппинг-сопровождение (8&nbsp;часов)" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>

        <li class="pricing-item">
          <img class="pricing-item__img placeholder" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img black" src="images/pricing/test-bw.jpg"/>
          <img class="pricing-item__img color" src="images/pricing/test.jpg"/>
          <div class="pricing-item__content-wrapper">
            <div class="pricing-item__content">
              <h3 class="pricing-item__title">Анализ гардероба</h3>
              <p class="pricing-item__price">
                2часа, 1950р.
              </p>
              <a href="#" class="r5m-action pricing-item__content__button" data-text="Анализ гардероба" data-type="order" data-action="r5mDimmer-show">
                Записаться
              </a>
            </div>
          </div>
        </li>
      </ul>

      <h3 class="section-subheader order-subheader">
        Запись на консультацию
      </h3>
      <p class="content-p-order">
        <a href="#" class="r5m-action" data-type="question" data-action="r5mDimmer-show">
          Оставьте заявку
        </a>
        для проведения консультации или свяжитесь со мной любым
        <a href="contacts.html">другим способом</a>
        на ваш выбор.
      </p>
    </div>
  </div>
</section>

<%# include('./_offer.ejs'); %>
<%- include('./_footer.ejs'); %>

<%- include('./_forms.ejs'); %>
